@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    /* height: 100%; */
    margin: 20px 0 20px;
}

header {
    background: #f6f5f7;
    display: flex;
    width: 90%;
    max-width: 1000px;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
}

.head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

header-right {
	display: flex;
    position: relative;
    width: 100%;
	justify-content: flex-end;
	align-items: flex-end;
    float: right;
    margin: 20px 10px 0;
}

.menucss {
    display: flex;
    position: relative;
    width: auto;
    justify-content: flex-end;
}

.logo {
    display: flex;
    position: relative;
    margin: 10px 0 0;
    justify-content: flex-start;
    width: 200px;
    height: 35px;
}

.logo img{
    width: inherit;
}

.body-content{
    display: flex;
    position: relative;
    width: 90%;
    justify-content: center;
    margin: 10px 10px 10px;
    flex-wrap: wrap;
    overflow: none;
}

.body-content p{
    margin: 20px 0 -20px;
}

.parameters-menu{
    background-color: #FFFFFF;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: row;
    align-self: center;
	margin: 0px 5% 0px;
    width: 80%;
    max-width: 1000px;
	text-align: left;
    flex-wrap: wrap;
    box-shadow: 0 6px 20px rgba(0,0,0,0.25), 
			0 6px 6px rgba(0,0,0,0.22);
}

.parameters-content-right{
    margin: 10px 10px 10px 10px;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
}

.parameters-content-left{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-self: flex-start;
    margin: 10px 10px 10px 10px;
}

.block-results{
    background-color: #FFFFFF;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: row;
    align-self: center;
	margin: 0px 5% 20px;
    width: 80%;
    max-width: 1000px;
	text-align: left;
    flex-wrap: wrap;
    box-shadow: 0 6px 20px rgba(0,0,0,0.25), 
			0 6px 6px rgba(0,0,0,0.22);
}

.block-results .content {
    margin: 10px 10px 10px;
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-direction: row;
    align-self: flex-start;
    width: 100%;
}

.block-results .content .param {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.block-results .content .param .percent{
    border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 2px 5px;
	letter-spacing: 1px;
	text-transform: uppercase;
    margin: 0px 2px 0 2px;
}

.block-results .content .file {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

textarea {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
    height: 10%;
}

.container {
	background-color: #fff;
  	box-shadow: 0 0px 20px rgba(0,0,0,0.25), 
			0 0px 0px rgba(0,0,0,0.22);
	position: relative;
	width: 90%;
    overflow: hidden;
	max-width: 90%;
    max-width: 1000px;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.checktext-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .checktext-container {
	transform: translateX(100%);
}

.checkfile-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .checkfile-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

footer {
    background-color: #222;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    bottom: 0;
    position: relative;
    left: 0;
    right: 0;
    text-align: center;
}

footer p {
    margin: 20px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}

/* Select style here */
select {
    margin: 10px 0 10px;
    width: 200px;
    height: 35px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding: 5px 35px 5px 5px;
    border: 1px solid #f6f5f7;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(./images/arrow.png) 98% / 15% no-repeat #eee;
}

/* CAUTION: IE hackery ahead */
select::-ms-expand { 
    display: none; /* remove default arrow on ie10 and ie11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    } 
}
