<home>
   <head>
      <link rel="stylesheet" type="text/css" href="/css/index.css">
   </head>
   <>
      <title>Plagiarism Checker</title>
      <h2 style="text-align: center">Проверка на плагиат</h2>
      <form action="http://localhost:5000" method="POST">
         <p>Используемый метод обнаружения:
            <span class="custom-dropdown big">
         <select name="select" size="3" multiple>
         <option selected value="frequency-cosine">Метод частоты слова/метод косинусов</option>
            <option value="basic-shingl">Простой алгоритм шинглов</option>
            <option value="sorted-shingl">Алгоритм шинглов с сортировкой</option>
            <option value="moodle-crot">Алгоритм Moodle Crot</option>
            <option value="levenshtein">Алгоритм Levenshtein Distance</option>
         </select>
            </span>
         <br>
         <p>Input Text : </p>
         <p><textarea name="query" rows="8" cols="50" autofocus>{{query}}</textarea></p>
         <input type="checkbox" id="stopwordsunion" name="stop-union" value="checked">
         <label for="stopwordsunion">Уникальность текста c использованием союзов</label>
         <br>
         <input type="checkbox" id="stopwordspretext" name="stop-pretext" value="checked">
         <label for="stopwordspretext">Уникальность текста с использованием предлогов</label>
         <br>
         <p><input type="submit" name="submit" value="CHECK PLAGIARISM"></p>
         <br>
         <p><h3>{{output}}</h3></p>
      </form>
   <p><a href="/upload">Загрузить файлы в БД</a></p>
         <pp><a href="/upload_file">Загрузить файл на проверку</a></p>
   </body>
</home>